header {
    width: 100%;
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.header-title {
    background-color: var(--light-navy);
    padding: 5px 0;
    margin-top: .8em;
}

.header-counter {
    background-color: var(--purple);
    padding: 5px;
    border: 1px solid var(--pink);
    border-radius: 10px;
    margin: 2em auto;
}

.header-counter--loading{
    opacity: 0.5;
}