.btn-add {
    background-image: url('../../../public/circle-plus-solid.svg');width: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white);
    height: 90px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: transform .5s;
    z-index:10;
}

.btn-activate {
    transform: rotate(45deg);
}
